body {
  min-height: 100vh;
}

.game-container {
  margin: 0 auto;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: black;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}

.grid-item {
  background-color: white;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-form {
  width: 600px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: start;

  transition: all 0.35s ease;
}

.submit {
  transform: translateX(-1000px);
  opacity: 0;
}

.game-wrapper {
  transform: translateX(1000px);
  opacity: 0;

  transition: all 0.35s ease;
}

.show {
  transform: translateX(0);
  opacity: 1;
}

.is-hidden {
  display: none;
}

/* Score board styling */
.scoreboard {
  width: 200px;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 0 auto;
}

.player-grid {
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  align-items: center;
  grid-gap: 1rem;
}

.player-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.player-score {
  justify-self: end;
}


/* Styling for markers */
.circle {
  width: 100%;
  height: 100%;
  background-color: #c084fc;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
}

.circle.shadow {
  width: 107%;
  height: 107%;
  background-color: #6b21a8;
  top: -2%;
  left: -4%;
}

.circle.shine {
  background-color: #a855f7;
  top: 15%;
  left: -2%;
}

.marker {
  width: 70px;
  height: 70px;
  position: absolute;
}

.marker.preview {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}

.yellow .circle {
  background-color: #fcd34d;
}

.yellow .circle.shadow {
  width: 107%;
  height: 107%;
  background-color: #92400e;
  top: -2%;
  left: -4%;
}

.yellow .circle.shine {
  background-color: #f59e0b;
}